{
    "extends": ["react-app", "react-app/jest"],
    "rules": {
        "no-console": "warn",
        "prefer-const": "error",
        "comma-dangle": ["warn", "always-multiline"],
        "semi": ["warn", "never"],
        "import/order": [
            "error",
            {
                "groups": ["builtin", "external", "internal", "parent", "sibling", "index", "object", "type"]
                // "newlines-between": "always"
            }
        ],
        "react-hooks/exhaustive-deps": "off",
        "eqeqeq": "off"
    }
}
